.details {
  background-color: $color-secondary;
  padding-top: 80px;
  padding-bottom: 80px;
  .container {
    display: flex;
    justify-content: space-between;
    .feature {
      flex: 1;
      padding-right: 10px;
      h4 {
        display: flex;
        align-items: center;
        color: $color-white;
        margin-bottom: 15px;
        svg {
          margin-right: 15px;
        }
      }
      p {
        color: $color-text-light;
      }
    }
    @include mq(md) {
      flex-direction: column;
      .feature {
        padding-right: 0;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
}
