button,
.btn {
  background-color: $color-primary;
  color: $color-white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background-color: $color-secondary;
  }
}
