/*=== Import Fonts ===*/
@include font-face($font-medium, $font-medium-path);
@include font-face($font-bold, $font-bold-path);
@include font-face($font-book, $font-book-path);

/*=== Typography Styling ===*/
body {
  color: $color-text-dark;
  font-size: $font-size-re;
  font-family: $font-book;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

h1 {
  @include font-source-sans($font-bold, $font-size-xl, $color-black, bold, 1.33);
  margin-bottom: 20px;
}
h2 {
  @include font-source-sans($font-bold, 36px, $color-black, bold, 1.33);
  margin-bottom: 20px;
}
h3 {
  @include font-source-sans($font-bold, 18px, $color-black, bold, 1.33);
  margin-bottom: 10px;
}
h4 {
  @include font-source-sans($font-bold, $font-size-re, $color-black, bold, 1.33);
  margin-bottom: 10px;
}
h5 {
  @include font-source-sans($font-bold, $font-size-re, $color-black, bold, 1.33);
  margin-bottom: 10px;
}
h6 {
  @include font-source-sans($font-bold, $font-size-re, $color-black, bold, 1.33);
  margin-bottom: 10px;
}

button {
  font-size: $font-size-sm;
  font-family: $font-medium;
}

a {
  font-size: $font-size-sm;
  font-family: $font-book;
  color: $color-primary;
}

p {
  font-family: $font-book;
  font-size: $font-size-re;
  margin-bottom: 15px;
  line-height: 1.5;
  &.small {
    font-size: $font-size-sm;
  }
}

// How typogrraphy should looks like on mobile version
@include mq(xs) {
  h1 {
    font-size: $font-size-lg;
  }
  h2 {
    font-size: $font-size-lg;
  }
  h3 {
    font-size: $font-size-md;
  }
  h4 {
    font-size: $font-size-re;
  }
  h5 {
    font-size: $font-size-sm;
  }
  h6 {
    font-size: $font-size-sm;
  }
}
