@import "../components/menu-icon";
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 18px;
  background-color: transparent;
  z-index: 4;
  transition: background-color 300ms, top 200ms;

  &.scroll {
    background-color: $color-white;
    top: 0;
    padding: 15px 0;
    transition: background-color 300ms, top 200ms;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
    .logo {
      display: flex;
      align-items: center;
      font-family: $font-bold;
      color: $color-black;
      font-size: $font-size-lg;
      line-height: 1;
      img {
        margin-right: 10px;
        width: 37.7px;
        height: 36px;
      }
    }
    .nav-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &.is-open {
        right: 0;
        transition: left 300ms, right 300ms;
      }
      a:not(.btn) {
        color: $color-black;
        transition: color 200ms;
        margin-right: 3vw;

        &:hover {
          transition: color 200ms;
          color: $color-primary;
        }
      }
    }
  }

  @include mq(sm) {
    .container {
      .menu-icon-wrapper {
        display: block !important;
      }
      .nav-links {
        z-index: 4;
        position: fixed;
        width: 100%;
        right: -100%;
        top: 0;
        bottom: 0;
        background-color: $color-secondary-dark;
        flex-direction: column;
        justify-content: center;
        transition: left 300ms, right 300ms;

        a:not(.btn) {
          margin-right: 0;
          margin-bottom: 5vh;
          color: $color-white;
        }
      }
    }
  }
}
